<div class="view-all-container">
  <h2 class="view-all-title">Visualizar Todos</h2>
  <div class="view-all-form">
      <div *ngIf="loading" class="loading">
        Carregando usuários...
      </div>

      <div *ngIf="users.length > 0" class="users-list">
        <div *ngFor="let user of users" class="user-card">
          <div class="user-header">
            <h3>{{ user.name }}</h3>
            <span class="user-id">ID: {{ user.id }}</span>
          </div>

          <div class="user-details">
            <div class="detail-row">
              <span class="detail-label">Conta | Agência:</span>
              <span class="detail-value">{{ user.account.agency }} | {{ user.account.number }}</span>
            </div>

            <div class="detail-row">
              <span class="detail-label">Saldo:</span>
              <span class="detail-value">{{ user.account.balance | currency:'BRL' }}</span>
            </div>

            <div class="detail-row">
              <span class="detail-label">Limite da Conta:</span>
              <span class="detail-value">{{ user.account.limit | currency:'BRL' }}</span>
            </div>

            <div class="detail-row">
              <span class="detail-label">Cartão:</span>
              <span class="detail-value">{{ user.card.number }}</span>
            </div>

            <div class="detail-row">
              <span class="detail-label">Limite do Cartão:</span>
              <span class="detail-value">{{ user.card.limit | currency:'BRL' }}</span>
            </div>
            
          </div>
        </div>
      </div>

      <div *ngIf="users.length === 0 && !loading" class="no-users">
        Nenhum usuário cadastrado.
      </div>

      <button class="back-btn" (click)="goToMenu()">Menu Principal</button>
  </div>  
</div>
