<div class="delete-container">
  <h2 class="delete-title">Deletar</h2>
  <div class="delete-form">
    <div class="form-group">
      <label for="userId">ID do Usuário:</label>
      <input type="number" id="userId" [(ngModel)]="userId" (keyup.enter)="searchUser()">
      <button class="search-btn" (click)="searchUser()">Buscar</button>
    </div>

    <div *ngIf="user" class="user-details">
      <h3>Detalhes do Usuário</h3>
      <p><strong>Nome:</strong> {{ user.nome }}</p>
      <p><strong>Número da Conta:</strong> {{ user.numeroConta }}</p>
      <p><strong>Número da Agência:</strong> {{ user.numeroAgencia }}</p>
      <p><strong>Saldo:</strong> {{ user.saldo | currency:'BRL' }}</p>
      <p><strong>Limite da Conta:</strong> {{ user.limiteConta | currency:'BRL' }}</p>
      <p><strong>Número do Cartão:</strong> {{ user.numeroCartao }}</p>
      <p><strong>Limite do Cartão:</strong> {{ user.limiteCartao | currency:'BRL' }}</p>

      <div *ngIf="showConfirmation" class="confirmation">
        <div class="confirmation-message">Deseja realmente deletar?</div>
        <div class="confirmation-buttons">
          <button class="confirm-btn" (click)="confirmDelete()">Sim</button>
          <button class="cancel-btn" (click)="cancelDelete()">Não</button>
        </div>
      </div>
      <button *ngIf="user && !showConfirmation" class="delete-btn" (click)="showDeleteConfirmation()">Deletar Usuário</button>
    </div>

    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <button class="back-btn" (click)="goToMenu()">Menu Principal</button>
  </div>
</div>
