<footer>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/caio-cabral-programmer/" target="_blank" class="social-btn linkedin">LinkedIn</a>
    <a href="https://github.com/Caio-Cabral-Programmer" target="_blank" class="social-btn github">GitHub</a>
    <a href="https://www.notion.so/Faculdade-ADS-Uninter-1c990d83bc3380cfa359dcd91e1b6bd4?pvs=4" target="_blank" class="social-btn notion">Notion</a>
    <button class="social-btn email" (click)="copyEmail()">Email</button>
  </div>
  <div class="signature">
    <p>by → Caio Cabral</p>
  </div>
</footer>
