<footer>
  <div class="social-links">
    <a href="https://www.linkedin.com/in/caio-cabral-programmer/" target="_blank" class="social-btn linkedin">LinkedIn</a>
    <a href="https://github.com/Caio-Cabral-Programmer" target="_blank" class="social-btn github">GitHub</a>
    <a href="https://www.notion.so/Java-1c990d83bc33814c9659f977de346a2a" target="_blank" class="social-btn notion">Notion (My Java Study Board)</a>
    <button class="social-btn email" (click)="copyEmail()">Email</button>
  </div>
  <div class="signature">
    <p>by → Caio Cabral</p>
  </div>
</footer>
