<div class="create-container">
  <h2 class="create-title">Criar</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="create-form">
    <!-- Informações básicas do usuário -->
    <div class="form-group">
      <label for="name">Nome do Usuário:</label>
      <input type="text" id="name" formControlName="name" required>
    </div>

    <!-- Seção da Conta -->
    <div formGroupName="account" class="form-section">
      <h3>Informações da Conta</h3>
      
      <div class="form-group">
        <label for="accountNumber">Número da Conta:</label>
        <input type="text" id="accountNumber" formControlName="number" required>
      </div>

      <div class="form-group">
        <label for="accountAgency">Número da Agência:</label>
        <input type="text" id="accountAgency" formControlName="agency" required>
      </div>

      <div class="form-group">
        <label for="accountBalance">Saldo:</label>
        <input type="number" id="accountBalance" formControlName="balance" required>
      </div>

      <div class="form-group">
        <label for="accountLimit">Limite da Conta:</label>
        <input type="number" id="accountLimit" formControlName="limit" required>
      </div>
    </div>

    <!-- Seção do Cartão -->
    <div formGroupName="card" class="form-section">
      <h3>Informações do Cartão</h3>
      
      <div class="form-group">
        <label for="cardNumber">Número do Cartão:</label>
        <input type="text" id="cardNumber" formControlName="number" required>
      </div>

      <div class="form-group">
        <label for="cardLimit">Limite do Cartão:</label>
        <input type="number" id="cardLimit" formControlName="limit" required>
      </div>
    </div>

    <!-- Nova seção para exibir mensagens de erro -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <div class="form-actions">
      <button type="submit" class="save-btn" [disabled]="!userForm.valid">Criar e Salvar</button>
      <button type="button" class="back-btn" (click)="goToMenu()">Menu Principal</button>
    </div>
  </form>

  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
