/* Estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f8f9fa;
  color: #212529;
  padding-top: 300px; /* Igual à altura do header */
  padding-bottom: 100px; /* Espaço para o footer */
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
}

/* Classes utilitárias */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}/* You can add global styles to this file, and also import other style files */
